@import "tailwindcss";
@import "./styles/geistdocs.css";

@layer utilities {
  .bg-dashed {
    background-image: linear-gradient(
      45deg,
      var(--border) 12.50%,
      transparent 12.50%,
      transparent 50%,
      var(--border) 50%,
      var(--border) 62.50%,
      transparent 62.50%,
      transparent 100%
    );
    background-size: 0.25rem 0.25rem;
  }
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}
